<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @roast.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @roast.user %>
</p>

<%= link_to 'Edit', edit_roast_path(@roast) %> |
<%= link_to 'Back', roasts_path %>
